body{
    margin: 0;
    padding: 0;
}

/* For header section */
.header-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 19px 84px;
    font-family: 'Open Sans', ui-sans-serif, system-ui, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: sticky;
    top:0;            /* for 'position: sticky'*/
    z-index: 1000;
}

/* For left side in header */
.header-left{
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container a{
    padding: 0 10px ;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
}

/* For right side of header */
.header-right{
    display: flex;
    align-items:center;
    margin-right: 130px;
}

/* For header's first part, in right side */
.first-right{
    display: flex;
    align-items:center;
    gap: 20px;
}

.first-right, .span{
    min-width: 130px;
}

/* For header's second part in right side */
.cart{
    display: flex;
    align-items:center;
    gap: 10px;
    margin-left: 0;
    position: relative;
}

.cart-count{
    position: absolute;            /* We can move element by using 'position:absolute' with 'left,right,top,bottom',even without using 'position:relative', and here 'position' is based/related on ancestor element, and if 'no' ancestor it related to 'body'.*/ 
}

/* For bucket image in header's right side*/
.header-right, .cart img{
    width: 40px;
    margin-left: 10px;
}


/* For first section, below header */
.first-section{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
   
}

.first-section-color{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 75px;
}

.first-section-color button{
    color: white;
    background-color: red;
    border: none;
    width: 130px;
    height: 35px;
    margin-left: 15px;
    border-radius: 30px;
}


/* For second section */
.second-section{
    background-color: #f9f8f6; 
}

.section-lines {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-left: 140px;
    margin-top: 0;
  }

  .section-lines h1{
    margin-top: 20px;
  }
  
  /* For 3 red lines */
  .lines {
    display: flex;
    gap: 4px;
    margin-right: 16px;
  }
  
  .lines span {
    width: 8px;        /* We don't put anything in 'span' in html, but we can give 'width' and 'height' because of 'display:flex'(ie it act like 'display:block') */
    height: 30px;
    background-color: #e4002b ;
    margin-right: 5px;
  }


  /* Third section */
  .third-section {
    margin-left: 20%;
    margin-top: 100px;
  }
  
  .title-third h2 {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    word-spacing: 5px;
    width: 29%;
  }
  
  /* For line after text */
  .with-line {
    display: inline-flex;
    align-items: center;
    gap: 20px;
  }
  
  .with-line::after {
    content: "";
    height: 1px;
    background-color: #000;
    width: 750px;; 
    margin-bottom: 40px;
    margin-left: 100px;
  }

 
  /* For grid section for images*/
  .grid-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);  /* 'grid' is '2d' because it can place items across rows 'and' columns(but in 'flex' place rows 'or' columns,so it is '1D') and 'fr' means 'fractional unit' and we can put like '1fr 2fr 200px' in same grid for different size of image. And 'grid container'(parent ie 'display:grid'), 'grid items', 'grid lines'(dividing lines between rows and columns), 'grid tracks'(space between lines), 'grid cells'(space between row line and column line), 'grid area'. Ie 'grid' is useful for eaqual sized and 2d layout. We can also use 'auto-fit'(not remain empty space) and 'auto-fill'(reserve space after arrangement) and both using with 'minmax(min,max)', eg,'grid-template-column:repeat(auto-fit, minmax(200,1fr))'. And we can use 'align-items' and 'justify-content' in 'grid' without using 'display:flex' */
    gap: 24px;
  }
  
  .grid-image {
    text-align: center;
    background-color: #f8f8f8;
    border-bottom-left-radius: 8px; /* 'border-radius' only in top of the image box, 'not' in bottom */
    border-bottom-right-radius: 8px;
    transition: transform 0.3s;
    max-width: 75%;
  }
  /* For hovering effect */
  .grid-image:hover {
    transform: translateY(-5px);
  }
  
  .grid-image img {
    width: 100%;
    height: auto;
  }
  
  .grid-image p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 12px;
  }

  
  /* Fourth section */
  .fourth-section{
    width: auto;
    background-color: rgb(32, 33, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  /* For Red lines in */
  .for-lines{
    display: flex;
    gap: 4px;
    margin-right: 16px;  
    margin-left: 24%;
  }

  .for-lines span{
    width: 17px;
    height: 40px;
    background-color: #e4002b ;
    margin-right: 10px; 
  }

  .deals{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48%;
    margin-top: 20px;
    font-weight: bold;
  }

  .deals h4{
    font-size: 25px;
  }

  .deals a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  }


  /* For carousel images */
  .carousel {
    overflow-x: auto; 
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 15%;
  }

  .carousel-track {
    display: flex;
    gap: 10px;
  }
  
  .offer-card {
    flex: 0 0 350px; 
    background: white;
    color: black;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .offer-card img{
    width: 100%;
  }

  .offer-text h3{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-left: 15px;
    margin-top: 5px;
    color: #e4002b;
  }

  .offer-text p{
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    letter-spacing: .09px;
  }

  .card-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25%;
    margin-bottom: 20px;
  }

  .card-actions a{
    text-decoration: none;
    color: #000;
  }

  .card-actions button{
    border: none;
    background-color: #000;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: medium;
  }

  .carousel-btn-left, .carousel-btn-right {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);
}

/* Positioning the carousel */
.carousel-btn-left {
  right: 78%;
}

.carousel-btn-right {
    left:78%;
}


/* For footer */
.kfc-footer {
    background-color: #1c1c1e;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    max-width: 90%;
    padding-top:50px ;
    margin-left: 45px;   
}

.footer-logo img {
    margin-right: 130px;
    margin-top: 20px;
}

.footer-column {
    min-width: 250px;
    margin-top: 20px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 20px;
    font-size: 15px;
    color: #ccc;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

/* For apple and google play images */
.footer-apps {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
    padding-bottom: 50px;
    /* flex-wrap: wrap; */
}
